<!DOCTYPE html>
<html>
  <head>
  	<script type="text/javascript" src=/javascripts/jquery.min.js></script>
  	<script type="text/javascript" src=/javascripts/validacao.js></script>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
  </head>
  <body >
  	<div style="height:1px">
  	<nav>
  		<a href="/cliente"><button class="btn btn-secondary btn-lg"  style="font-size:30px;margin-left:34%;margin-top:100px">Cliente</button></a>
  		<a href="/funcionario"><button class="btn btn-secondary btn-lg"  style="font-size:30px;margin-top:100px">Funcionário</button></a>
  		<a href="/produto"><button class="btn btn-secondary btn-lg"  style="font-size:30px;margin-top:100px">Produto</button></a>
  		<a href="/compra"><button class="btn btn-secondary btn-lg"  style="font-size:30px;margin-top:100px">Compra</button></a>
      <h1 style="margin-left:34%;color:#ffffff">Produto</h1>
  	</nav>
  	</div>
    <div>
      <form>
        
      </form>
    </div>
  </body>
</html>
