<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="post" action="/cadastrar-texto" id="usrform">
    	<input type="submit" value="Cadastrar">
    </form>
    <textarea name="texto" form="usrform" ></textarea>
    <br> <br> <br> <br>

     <br> <br> <br> <br> <br>
    <table>
    	<%for(i=0;i<textos.length;i++){%>
    	<fieldset>
    		<%= textos[i].texto%> <br> <br>
    	</tr>
    	</fieldset>
    	<%}%>
    </table>
  </body>
</html>
