<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src=/javascripts/validacao.js></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aplicação com <%= title %></h1>
    <p>Bem vindo a minha primeira aplicação com <%= title %></p>
    <form method="POST" action="/alterar-pessoa-dois" onsubmit="return validacao()">
      Nome completo:<input type="text" name="nomecompleto" id="nomecompleto"><br>
      CPF:<input type="text" name="cpf" id="cpf" value="<%= cpfpraalterar %>" readonly><br>
      Telefone:<input type="text" name="telefone" id="telefone"><br>
      Endereço:<input type="text" name="endereco" id="endereco"><br>
      Email:<input type="text" name="email" id="email"><br>
      <input  type="submit"  value="alterar">
    </form>
  </body>
</html>
