<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Minha primeira aplicação utilizando NodeJs, Framework Express e o template ejs!</h1>
    <p>Espero que goste!</p>
  </body>
</html>
