<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href='/stylesheets/style.css'> </link>
		<script type = "text/javascript" src = "/javascripts/validacao.js"> </script>
		<script type = "text/javascript" src = "/javascripts/jQuery.js"> </script>
		<title>Aprendendo html.</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Cadastro em tempo de execução.</h1>
		<fieldset>
			<legend> <b>Cadastro de pessoas.</b></legend>
			<form action = "/cadastrar-pessoa" method = "POST" onsubmit="return validacao()">
				<div>
					<b> Nome:</b> <input class="campo" type="text" name="nome" id = "nome" style = "margin-left:79px">	
				</div>
				<div>
					<b>Sobrenome: </b><input class ="campo" type="text" name="sobrenome" id = "sobrenome" style = "margin-left:44px">	
				</div>
				<div>
					<b>Cpf: </b> <input class = "campo" type="text" name="cpf" id = "cpf" style="margin-left:95px">	
				</div>
				<div>
					<b>Telefone:</b><input class = "campo" type="text" name="telefone" id = "telefone" style="margin-left:65px">	
				</div>
				<div>
					<b>Endereço:</b><input class = "campo" type="text" name="endereço" id = "endereco" style="margin-left:60px">	
				</div>
				<div>
					<input type="submit" value = "Cadastrar" style = "margin-left:230px; margin-top:18px">
				</div>
			</form>
		</fieldset>
		<fieldset>
			<legend><b>Pessoas cadastradas.</b></legend>
			<table border = "1" id = "registros">
				<tr>
					<td>Nome</td>
					<td>Sobrenome</td>
					<td>Cpf</td>
					<td>Telefone</td>
					<td>Endereço</td>
				</tr>
			</table>
		</fieldset>
	</body>
</html>